@{
    ViewData["Title"] = "About";
}
<div class="text-center mt-5">
    <h1 style="font-weight: bold; color: #007BFF; font-size: 2em; margin-bottom: 20px;">@ViewData["Title"]</h1>

    <p class="lead" style="font-size: 1.2em; color: black">
        <span style="font-weight: bold; color: black">
            "Hello! My name is Pedro, and I am a back-end developer. This application was built using ASP.NET technology, with MySQL as the database management system. In the source code, the Entity Framework was employed for efficient database connectivity. The main focus is not on the front-end but rather on efficiency, solid practices, and the MVC architecture. I am available for any questions or suggestions related to back-end development."
        </span>
    </p>
</div>
