@{
    ViewData["Title"] = "About";
}
<div class="text-center mt-5">
    <h1 style="font-weight: bold; color: #007BFF; font-size: 2em; margin-bottom: 20px;">@ViewData["Title"]</h1>

    <p class="lead" style="font-size: 1.2em; color: black">
        <span style="font-weight: bold; color: black">
            My name is Pedro and I am a back-end developer. This application was created using ASP.NET technology, with MySQL as the database management system. In the source code, Entity framework was employed for efficient datab
        </span>
    </p>
</div>
