@{
    ViewData["Title"] = "Contact";
}
<h1><span style="font-weight: bold;">@ViewData["Title"]</span></h1>
<h4><span style="font-weight: bold;">Developer @ViewData["Dev"]</span></h4>

<hr />
<address>
    <strong style="font-size: 1.2em;">Send email: </strong> <a href="mailto:devpedrohenri@gmail.com" style="font-size: 1.2em;">devpedrohenri@gmail.com</a>
    <br />
    <strong style="font-size: 1.2em;">Access source code on Git Hub: </strong><a href="https://github.com/PedroHenriqDev/ASP-NET-CORE-MVC" style="font-size: 1.2em;">https://github.com/PedroHenriqDev/ASP-NET-CORE-MVC</a>
</address>



